:root {
    --primary: #ff9100;
    --secondary: #162dff;
    --light: #fff;
    --dark: #000;
    --desktop: #eafaff;
    --p:#00063f;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, #377dfd, #0097ff, #00adff, #00c1ff, #37d3ff, #4bdbff, #5ee3ff, #70ebff, #62edfe, #53eefd, #41f0fb, #2af1f9);
}
    
p{
    display: flex;
    justify-content: center;
    font-weight: bold ;
    font-size: 30px;
    color: var(--p);
}
*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 600px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--desktop);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--desktop);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
    font-weight:500;
}

.done {
    background-color: var(--desktop);
    text-decoration: line-through;
    color: var(--dark);
}